@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #efb810;
    padding: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.verified-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.username {
    font-size: 25px;
    color: #efb810;
    margin-right: 20px;
}

.header-center {
    text-align: center;
    flex-grow: 1;
}

.header-center h1 {
    margin: 0;
}

.stars {
    margin-top: 5px;
}

.stars span {
    font-size: 20px;
    color: #efb810;
}

.header-right {
    margin-left: auto;
}

.volverBtn {
    position: relative;
    width: 100%;
    height: 40px;
    background: #efb810;
    box-shadow: 0 0 10px yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la tabla de habitaciones */

.title {
    text-align: center;
    margin-top: 20px;
}

.table-container {
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
}

#habitacionesTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#habitacionesTable th, #habitacionesTable td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}

#habitacionesTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#habitacionesTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#habitacionesTable tbody tr:hover {
    background-color: #eaeaea;
}

#habitacionesTable td {
    font-size: 16px;
}

#habitacionesTable td:nth-child(3) {
    max-width: 250px; /* Limita la anchura de la descripción */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
