@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_space {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 85%;
    margin: auto;
}

header {
    padding: 20px 20px;
    background: #000;
    box-shadow: 0 0 10px #efb810;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    z-index: 1000;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 10px;
}

header ul li a {
    color: white;
    margin: 0 10px;
    transition: 0.5s;
}

header ul li a:hover {
    color: #efb810;
}

header i {
    margin: 0 20px;
}

header button {
    padding: 13px 40px;
}

header .navlinks span {
    display: none;
}

.image-square {
    width: 60px;
    height: 60px;
    background-image: url('https://st2.depositphotos.com/50337402/47114/v/450/depositphotos_471143640-stock-illustration-approve-gold-plated-metalic-icon.jpg');
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    margin-left: 10px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 160px;
    box-sizing: border-box;
}

.position {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.slider {
    background-image: url('../images/frente.jpeg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 40px);
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    animation: animate 10s infinite;
    position: relative;
   
}

@keyframes animate {
    20% {
        background-image: url('../images/frente.jpeg');
        background-size: cover;
    }

    40% {
        background-image: url('../images/pasillo.jpeg');
        background-size: cover;
    }

    60% {
        background-image: url('../images/piscina.jpeg');
        background-size: cover;
    }

    80% {
        background-image: url('../images/buffet.jpeg');
        background-size: cover;
    }

    100% {
        background-image: url('../images/sala.jpeg');
        background-size: cover;
    }
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Verdana', Verdana;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.slider-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.slider-text p {
    font-size: 1.5rem;
}