@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: rgb(234, 238, 5);
    padding: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.verified-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.username {
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

.header-center {
    text-align: center;
    flex-grow: 1;
}

.header-center h1 {
    margin: 0;
    font-size: 32px;
}

.stars {
    margin-top: 5px;
}

.stars span {
    font-size: 20px;
    color: gold;
}

.header-right {
    margin-left: auto;
}

.volverBtn {
    position: relative;
    width: 100%;
    height: 40px;
    background: rgb(234, 238, 5);
    box-shadow: 0 0 10px rgb(234, 238, 5);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#habitacionesTitle {
    text-align: center;
    font-size: 36px;
    margin: 20px;
}

.contact-container {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
}

.contact-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-container p,
.contact-container .contact-info,
.contact-container .social-media-heading,
.contact-container .social-media,
.contact-container .social-media .social-item {
    text-align: left;
}

.contact-info {
    margin: 20px 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.social-media h2 {
    font-size: 1.2rem;
}

.social-media a {
    display: flex;
    align-items: center;
    margin: 5px 0;
    text-decoration: none;
    color: inherit;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

#habitacionesTable {
    margin: 20px auto;
    width: 90%;
}


