@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: #000;
    box-shadow: 0 0 50px rgb(234, 238, 5);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
}

/*
.wrapper:hover {
    animation: animate 1s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}
*/

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-450px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 450px;
    left: 0;
}

.wrapper.active .form-wrapper.sign-up {
    transform: translateY(-450px);
}

h2 {
    font-size: 30px;
    color: rgb(246, 247, 223);
    text-align: center;
}

.input-group {
    position: relative;
    margin: 10px 0;
    border-bottom: 2px solid rgb(246, 247, 223);
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(246, 247, 223);
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 100%; /* Cambiado de 32px a 100% para ocupar todo el espacio disponible */
    height: 40px;
    font-size: 16px;
    color: rgb(246, 247, 223);
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
    text-align: left; /* Alinea el texto a la derecha */
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: rgb(246, 247, 223);
    font-size: 14px;
}

.remember label input {
    accent-color: rgb(234, 238, 5);
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: rgb(234, 238, 5);
    box-shadow: 0 0 10px rgb(234, 238, 5);
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: rgb(246, 247, 223);
}

.signUp-link p a {
    color: rgb(234, 238, 5);
    text-decoration: none;
    font-weight: 500;
}

.signUp-link p a:hover {
    text-decoration: underline;
}
